::-webkit-scrollbar {
    display: none;
}

body {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#nav-logo {
    width: 2em;
}

.bg-glass {
    background: url("./../img/fondo.jpg");
    background-size: calc(23em);
}

.text-decoration-overline {
    text-decoration: overline;
}

.fs-7 {
    font-size: 11px;
}

.fs-8 {
    font-size: 9px;
}

.card img {
    height: 13.5em;
}

footer {
    height: 5rem;
}
