::-webkit-scrollbar {
    display: none;
}

body {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#nav-logo {
    width: 2em;
}

.bg-glass {
    background: url("./../img/fondo.jpg");
    background-size: calc(23em);
}
